/* --- loader-arrow-1 --- */
/* HTML: <div class="loader-arrow-1"></div> */
.loader-arrow-1 {
  width: 100px;
  height: 30px;
  display: flex;
}
.loader-arrow-1:before {
  content: "";
  background: #000;
  width: 15px;
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: l1 1.5s infinite linear;
}
@keyframes l1 {
  90%,100%{flex-grow: 1}
}
/* --- loader-arrow-2 --- */
/* HTML: <div class="loader-arrow-2"></div> */
.loader-arrow-2 {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.loader-arrow-2:before,
.loader-arrow-2:after {
  content: "";
  background: #000;
  width: 15px;
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: l2 1s infinite linear;
}
.loader-arrow-2:before {
  transform: scaleX(-1);
}
@keyframes l2 {
  90%,100%{flex-grow: .5}
}
/* --- loader-arrow-3 --- */
/* HTML: <div class="loader-arrow-3"></div> */
.loader-arrow-3 {
  width: 100px;
  height: 30px;
  display: flex;
}
.loader-arrow-3:before,
.loader-arrow-3:after {
  content: "";
  flex: 1;
  margin: 0 5px;
  background: #000;
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: l3 .5s infinite alternate;
}
.loader-arrow-3:after {
  --s:-1;
}
@keyframes l3 {
  0%  {transform: scaleX(var(--s,1)) translate(-4px)}
  100%{transform: scaleX(var(--s,1)) translate( 4px)}
}
/* --- loader-arrow-4 --- */
/* HTML: <div class="loader-arrow-4"></div> */
.loader-arrow-4 {
  width: 40px;
  height: 30px;
  display: grid;
}
.loader-arrow-4:before,
.loader-arrow-4:after {
  content: "";
  grid-area: 1/1;
  background: #000;
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: l4 .5s infinite alternate;
}
.loader-arrow-4:after {
  --s:-1;
}
@keyframes l4 {
  0%  {transform: scale(var(--s,1)) translate(12px,-6px) translate(4px)}
  100%{transform: scale(var(--s,1)) translate(12px,-6px) translate(-4px)}
}
/* --- loader-arrow-5 --- */
/* HTML: <div class="loader-arrow-5"></div> */
.loader-arrow-5 {
  width: 50px;
  height: 30px;
  display: grid;
  overflow: hidden;
}
.loader-arrow-5:before,
.loader-arrow-5:after {
  content: "";
  grid-area: 1/1;
  background: #000;
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: l5 1s infinite;
  transform: translate(calc(0% + var(--s,0%)));
}
.loader-arrow-5:after {
  --s:-100%;
}
@keyframes l5 {
  80%,100%{transform: translate(calc(100% + var(--s,0%)))}
}
/* --- loader-arrow-6 --- */
/* HTML: <div class="loader-arrow-6"></div> */
.loader-arrow-6 {
  width: 50px;
  height: 60px;
  color: #000;
  display: grid;
}
.loader-arrow-6:before,
.loader-arrow-6:after {
  content: "";
  background:
    linear-gradient(90deg,currentColor calc(100% - 15px),#0000 0) 0 50%/100% 10px,
    conic-gradient(from -136deg at 15px 50%,#0000 ,currentColor 1deg 90deg,#0000 91deg) 35px 0/100% 100%;
  background-repeat: repeat-x;
  animation: l6 1s infinite;
}
.loader-arrow-6:after {
  transform: scaleX(-1);
}
@keyframes l6 {
  80%,100%{background-position: 50px 50%,85px 0}
}
/* --- loader-arrow-7 --- */
/* HTML: <div class="loader-arrow-7"></div> */
.loader-arrow-7 {
  width: 110px;
  height: 30px;
  color: #000;
  display: flex;
  background: 
    linear-gradient(currentColor 0 0) left /30px 10px,
    linear-gradient(currentColor 0 0) right/30px 10px,
    conic-gradient(from -136deg at             15px  50%,#0000 ,currentColor 1deg 90deg,#0000 91deg) 30px              0/100% 100%,
    conic-gradient(from   44deg at calc(100% - 15px) 50%,#0000 ,currentColor 1deg 90deg,#0000 91deg) calc(100% - 30px) 0/100% 100%;
  background-repeat: no-repeat;
  animation: l7 .5s infinite alternate;
}
.loader-arrow-7:before {
  content: "";
  flex: 1;
  background: inherit;
  transform: rotate(90deg);
}
@keyframes l7 {
  90%,100%{width:93px}
}
/* --- loader-arrow-8 --- */
/* HTML: <div class="loader-arrow-8"></div> */
.loader-arrow-8 {
  width: 30px;
  height: 30px;
  color: #000;
  display: flex;
  background: 
    linear-gradient(currentColor 0 0) center/calc(100% - 30px) 10px,
    conic-gradient(from -136deg at right,#0000 ,currentColor 1deg 90deg,#0000 91deg) right/15px 100%,
    conic-gradient(from   44deg at left ,#0000 ,currentColor 1deg 90deg,#0000 91deg) left /15px 100%;
  background-repeat: no-repeat;
  animation: l8 .5s infinite alternate;
}
.loader-arrow-8:before {
  content: "";
  flex: 1;
  background: inherit;
  transform: rotate(90deg);
}
@keyframes l8 {
  90%,100%{width:80px}
}
/* --- loader-arrow-9 --- */
/* HTML: <div class="loader-arrow-9"></div> */
.loader-arrow-9 {
  width: 60px;
  height: 30px;
  color: #000;
  display: flex;
  background: 
    linear-gradient(currentColor 0 0) center/calc(100% - 30px) 10px,
    conic-gradient(from -136deg at right,#0000 ,currentColor 1deg 90deg,#0000 91deg) right/15px 100%,
    conic-gradient(from   44deg at left ,#0000 ,currentColor 1deg 90deg,#0000 91deg) left /15px 100%;
  background-repeat: no-repeat;
  animation: l9 .5s infinite linear alternate;
}
@keyframes l9 {
  0%   {transform: translate(-30px)}
  100% {transform: translate( 30px)}
}
/* --- loader-arrow-10 --- */
/* HTML: <div class="loader-arrow-10"></div> */
.loader-arrow-10 {
  width: 30px;
  height: 60px;
  padding-top: 60px;
  box-sizing: border-box;
  display: grid;
  background: 
    linear-gradient(currentColor 0 0) bottom/10px calc(100% - 15px),
    conic-gradient(from 134deg at top,#0000 ,currentColor 1deg 90deg,#0000 91deg) top/100% 15px;
  background-origin: content-box;
  background-repeat: no-repeat;
  animation: l10-0 2s infinite;
}
.loader-arrow-10:before,
.loader-arrow-10:after {
  content: "";
  grid-area: 1/1;
  background:inherit;
  background-size: 10px calc(100% - 25px),100% 25px;
  animation: l10-1 2s infinite;
}
.loader-arrow-10:after {
  background-size: 10px calc(100% - 30px),100% 30px;
  animation: l10-2 2s infinite;
}
@keyframes l10-0 {
  25%,100% {padding-top:0px}
}
@keyframes l10-1 {
  0%,25%   {margin:60px -10px 0}
  50%,100% {margin:8px  -10px 0}
}
@keyframes l10-2 {
  0%,50%   {margin:60px -15px 0}
  75%,100% {margin:20px -15px 0}
}
