/* --- loader-dancers-1 --- */
/* HTML: <div class="loader-dancers-1"></div> */
.loader-dancers-1 {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.loader-dancers-1:before,
.loader-dancers-1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -8px 0 0 -8px;
  width: 16px;
  aspect-ratio: 1;
  background: #3FB8AF;
  animation:
    l1-1 2s  infinite,
    l1-2 .5s infinite;
}
.loader-dancers-1:after {
  background:#FF3D7F;
  animation-delay: -1s,0s;
}
@keyframes l1-1 {
  0%   {top:0   ;left:0}
  25%  {top:100%;left:0}
  50%  {top:100%;left:100%}
  75%  {top:0   ;left:100%}
  100% {top:0   ;left:0}
}
@keyframes l1-2 {
   80%,100% {transform: rotate(0.5turn)}
}
/* --- loader-dancers-2 --- */
/* HTML: <div class="loader-dancers-2"></div> */
.loader-dancers-2 {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.loader-dancers-2:before,
.loader-dancers-2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -8px 0 0 -8px;
  width: 16px;
  aspect-ratio: 1;
  background: #3FB8AF;
  animation:
    l2-1 2s  infinite,
    l2-2 1s infinite ;
}
.loader-dancers-2:after {
  background:#FF3D7F;
  animation-delay: -1s,0s;
}
@keyframes l2-1 {
  0%   {top:0   ;left:0}
  25%  {top:100%;left:0}
  50%  {top:100%;left:100%}
  75%  {top:0   ;left:100%}
  100% {top:0   ;left:0}
}
@keyframes l2-2 {
   40%,50% {transform: rotate(0.25turn) scale(0.5)}
   100%    {transform: rotate(0.5turn) scale(1)}
}
/* --- loader-dancers-3 --- */
/* HTML: <div class="loader-dancers-3"></div> */
.loader-dancers-3 {
  width: 60px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  animation: l3-0 2s infinite alternate;
}
.loader-dancers-3:before,
.loader-dancers-3:after {
  content: "";
  width: 16px;
  background: #3FB8AF;
  animation: l3-1 1s infinite alternate;
}
.loader-dancers-3:after {
  background: #FF3D7F;
  --s:-1;
}
@keyframes l3-0 {
   0%,40%   {transform: rotate(0)}
   80%,100% {transform: rotate(.5turn)}
}
@keyframes l3-1 {
   80%,100% {transform: translate(calc(var(--s,1)*14px))}
}
/* --- loader-dancers-4 --- */
/* HTML: <div class="loader-dancers-4"></div> */
.loader-dancers-4 {
  width: 16px;
  aspect-ratio: 1;
  background: #3FB8AF;
  box-shadow: 30px 0 #FF3D7F;
  animation:
    l4-1  1s infinite alternate,
    l4-2 .5s infinite alternate;
}
@keyframes l4-1 {
   0%,40%   {transform: rotate(0)}
   80%,100% {transform: rotate(.5turn)}
}
@keyframes l4-2 {
   80%,100% {box-shadow: 16px 0 #FF3D7F}
}
/* --- loader-dancers-5 --- */
/* HTML: <div class="loader-dancers-5"></div> */
.loader-dancers-5 {
  width: 16px;
  aspect-ratio: 1;
  background: #3FB8AF;
  position: relative;
  animation: l5-0 2s infinite linear;
}
.loader-dancers-5:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #FF3D7F;
  transform: translate(30px) rotate(0);
  animation: l5-1 .5s infinite 
}
@keyframes l5-0 {
   100% {transform: rotate(1turn)}
}
@keyframes l5-1 {
   100% {transform: translate(30px) rotate(.25turn)}
}
/* --- loader-dancers-6 --- */
/* HTML: <div class="loader-dancers-6"></div> */
.loader-dancers-6 {
  width: 16px;
  aspect-ratio: 1;
  background: #3FB8AF;
  box-shadow: 0 -16px #FF3D7F;
  animation: l6 2s infinite;
}
@keyframes l6 {
   0%   {transform: translate(0   ,0    ) rotate(0)}
   25%  {transform: translate(0   ,0    ) rotate(90deg)}
   50%  {transform: translate(100%,-100%) rotate(180deg)}
   75%  {transform: translate(100%,-100%) rotate(270deg)}
   100% {transform: translate(0   ,0    ) rotate(360deg)}
}
/* --- loader-dancers-7 --- */
/* HTML: <div class="loader-dancers-7"></div> */
.loader-dancers-7 {
  width: 18px;
  aspect-ratio: 1;
  background: #3FB8AF;
  animation:
    l7-1 1s infinite alternate,
    l7-2 2s infinite alternate;
}
@keyframes l7-1 {
   0%,10%{transform:scale(1) rotate(0)}
   100%  {transform:scale(0) rotate(1turn)}
}
@keyframes l7-2 {
   0%,49.99% {background:#3FB8AF}
   50%,100%  {background:#FF3D7F}
}
/* --- loader-dancers-8 --- */
/* HTML: <div class="loader-dancers-8"></div> */
.loader-dancers-8 {
  width: 16px;
  aspect-ratio: 1;
  background: #3FB8AF;
  position: relative;
  animation: l8-0 2.5s infinite linear alternate;
}
.loader-dancers-8:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #FF3D7F;
  transform: translate(100%);
  transform-origin: top left;
  animation: l8-1 .5s infinite alternate;
}
@keyframes l8-0 {
  0% ,19.9%,
  80%,100%  {transform: scale(1,1)}
  20%,39.9% {transform: scale(-1,1)}
  40%,59.9% {transform: scale(-1,-1)}
  60%,79.9% {transform: scale(1,-1)}
}
@keyframes l8-1 {
   0%,20%   {transform: translate(100%) rotate(0)}
   80%,100% {transform: translate(100%) rotate(-180deg)}
}
/* --- loader-dancers-9 --- */
/* HTML: <div class="loader-dancers-9"></div> */
.loader-dancers-9 {
  width: 32px;
  height: 16px;
  display: flex;
  animation: l9-0 1s infinite;
}
.loader-dancers-9:before,
.loader-dancers-9:after {
  content: "";
  flex: 1;
  background: #3FB8AF;
  transform-origin: top right;
  animation: l9-1 1s infinite;
}
.loader-dancers-9:after {
  background: #FF3D7F;
  transform-origin: top left;
  --s:-1;
}
@keyframes l9-0 {
   100% {transform: translateY(100%)}
}
@keyframes l9-1 {
   100% {transform: rotate(calc(var(--s,1)*90deg))}
}
/* --- loader-dancers-10 --- */
/* HTML: <div class="loader-dancers-10"></div> */
.loader-dancers-10 {
  width: 32px;
  height: 16px;
  display: flex;
}
.loader-dancers-10:before,
.loader-dancers-10:after {
  content: "";
  flex: 1;
  background: #3FB8AF;
  transform-origin: top right;
  animation: l10-1 2s infinite;
}
.loader-dancers-10:after {
  background: #FF3D7F;
  transform-origin: top left;
  animation-delay: .25s;
}
@keyframes l10-1 {
   0%,5%    {transform: rotate(0)}
   20%,30%  {transform: rotate(90deg)}
   45%,55%  {transform: rotate(180deg)}
   70%,80%  {transform: rotate(270deg)}
   95%,100% {transform: rotate(360deg)}
}
