/* --- loader-flipping-1 --- */
/* HTML: <div class="loader-flipping-1"></div> */
.loader-flipping-1 {
  width: 40px;
  aspect-ratio: 1;
  background: #000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  0%   {transform: perspective(150px) rotateX(  0deg)}
  100% {transform: perspective(150px) rotateX(180deg)}
}
/* --- loader-flipping-2 --- */
/* HTML: <div class="loader-flipping-2"></div> */
.loader-flipping-2 {
  width: 40px;
  aspect-ratio: 1;
  animation: 
    l2-1 2s infinite linear,
    l2-2 1s infinite steps(1) alternate;
}
@keyframes l2-1 {
  0%   {transform: perspective(150px) rotateX(  0deg)}
  100% {transform: perspective(150px) rotateX(360deg)}
}
@keyframes l2-2 {
  0% {background:#ffa516}
  50% {background:#f03355}
}
/* --- loader-flipping-3 --- */
/* HTML: <div class="loader-flipping-3"></div> */
.loader-flipping-3 {
  width: 40px;
  aspect-ratio: 1;
  animation: 
    l3-1 2s infinite linear,
    l3-2 3s infinite steps(1) -.5s;
}
@keyframes l3-1 {
  0%   {transform: perspective(150px) rotateX(  0deg) rotateY(0deg)}
  50%  {transform: perspective(150px) rotateX(180deg) rotateY(0deg)}
  100% {transform: perspective(150px) rotateX(180deg) rotateY(180deg)}
}
@keyframes l3-2 {
  0%  {background: #ffa516}
  33% {background: #f03355}
  66% {background: #25b09b}
}
/* --- loader-flipping-4 --- */
/* HTML: <div class="loader-flipping-4"></div> */
.loader-flipping-4 {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  grid: 50%/50%;
  animation: l4-0 2s infinite steps(1);
}
.loader-flipping-4::before {
  content: "";
  transform-origin: bottom; 
  animation: 
    l4-1 0.5s infinite linear alternate,
    l4-2 0.5s infinite steps(1) alternate;
}
@keyframes l4-0 {
  0%  {transform:scale(1 , 1) rotate(0deg)}
  25% {transform:scale(1 ,-1) rotate(90deg)}
  50% {transform:scale(-1,-1) rotate(0deg)}
  75% {transform:scale(-1, 1) rotate(90deg)}
}
@keyframes l4-1 {
  0%   {transform:perspective(150px) rotateX(  0deg)}
  100% {transform:perspective(150px) rotateX(180deg)}
}
@keyframes l4-2 {
  0% {background:#ffa516}
  50%{background:#f03355}
}
/* --- loader-flipping-5 --- */
/* HTML: <div class="loader-flipping-5"></div> */
.loader-flipping-5 {
  width: 60px;
  aspect-ratio: 1;
  animation: l5-0 1s infinite steps(1);
}
.loader-flipping-5::before,
.loader-flipping-5::after {
  content: "";
  position: absolute;
  inset:0 50% 50% 0;
  transform-origin: bottom right; 
  animation: 
    l5-1 0.5s infinite linear alternate,
    l5-2 0.5s infinite steps(1) alternate;
}
.loader-flipping-5::after {
  --s:-1,-1;
}
@keyframes l5-0 {
  0%  {transform:scale(1, 1) rotate(0deg)}
  50% {transform:scale(1,-1) rotate(90deg)}
}

@keyframes l5-1 {
  0%   {transform:scale(var(--s,1)) perspective(150px) rotateX(  0deg)}
  100% {transform:scale(var(--s,1)) perspective(150px) rotateX(180deg)}
}
@keyframes l5-2 {
  0% {background:#25b09b}
  50%{background:#514b82}
}
/* --- loader-flipping-6 --- */
/* HTML: <div class="loader-flipping-6"></div> */
.loader-flipping-6 {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  grid: 50%/50%;
  color: #25b09b;
  --_g: no-repeat linear-gradient(currentColor 0 0);
  background: var(--_g),var(--_g),var(--_g);
  background-size: 50.1% 50.1%;
  animation: 
    l6-0   1.5s infinite steps(1) alternate,
    l6-0-0 3s   infinite steps(1);
}
.loader-flipping-6::before {
  content: "";
  background: currentColor;
  transform: perspective(150px) rotateY(0deg) rotateX(0deg);
  transform-origin: bottom right; 
  animation: l6-1 1.5s infinite linear alternate;
}
@keyframes l6-0 {
  0%  {background-position: 0    100%,100% 100%,100% 0}
  33% {background-position: 100% 100%,100% 100%,100% 0}
  66% {background-position: 100% 0   ,100% 0   ,100% 0}
}
@keyframes l6-0-0 {
  0%  {transform: scaleX(1)  rotate(0deg)}
  50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l6-1 {
  16.5%{transform:perspective(150px) rotateX(-90deg)  rotateY(0deg)    rotateX(0deg);filter:grayscale(0.8)}
  33%  {transform:perspective(150px) rotateX(-180deg) rotateY(0deg)    rotateX(0deg)}
  66%  {transform:perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(0deg)}
  100% {transform:perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(-180deg);filter:grayscale(0.8)}
}
/* --- loader-flipping-7 --- */
/* HTML: <div class="loader-flipping-7"></div> */
.loader-flipping-7 {
  width: 60px;
  aspect-ratio: 1;
  color: #ffa516;
  background:
    linear-gradient(currentColor 0 0) 100%  0,
    linear-gradient(currentColor 0 0) 0  100%;
  background-size: 50.1% 50.1%;
  background-repeat: no-repeat;
  animation:  l7-0 1s infinite steps(1);
}
.loader-flipping-7::before,
.loader-flipping-7::after {
  content:"";
  position: absolute;
  inset: 0 50% 50% 0;
  background: currentColor;
  transform: scale(var(--s,1)) perspective(150px) rotateY(0deg);
  transform-origin: bottom right; 
  animation: l7-1 .5s infinite linear alternate;
}
.loader-flipping-7::after {
  --s:-1,-1;
}
@keyframes l7-0 {
  0%  {transform: scaleX(1)  rotate(0deg)}
  50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l7-1 {
  49.99% {transform:scale(var(--s,1)) perspective(150px) rotateX(-90deg) ;filter:grayscale(0)}
  50%    {transform:scale(var(--s,1)) perspective(150px) rotateX(-90deg) ;filter:grayscale(0.8)}
  100%   {transform:scale(var(--s,1)) perspective(150px) rotateX(-180deg);filter:grayscale(0.8)}
}
/* --- loader-flipping-8 --- */
/* HTML: <div class="loader-flipping-8"></div> */
.loader-flipping-8 {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  animation: l8-0 2s infinite sptes(1);
}
.loader-flipping-8::before,
.loader-flipping-8::after {
  content: "";
  flex: 1;
  animation: 
    l8-1 1s infinite linear alternate,
    l8-2 2s infinite steps(1) -.5s;
}
.loader-flipping-8::after {
  --s:-1,-1;
}
@keyframes l8-0 {
  0%  {transform: scaleX(1)  rotate(0deg)}
  50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l8-1 {
  0%,
  5%   {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateY(0deg) }
  33%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(0deg) }
  66%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-180deg)}
  95%,
  100% {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateX(-180deg)}
}
@keyframes l8-2 {
  0%  {background:#f03355}
  50% {background:#ffa516}
}
/* --- loader-flipping-9 --- */
/* HTML: <div class="loader-flipping-9"></div> */
.loader-flipping-9 {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  grid: 50%/50%;
  color: #ffa516; 
  border-radius: 50%;
  --_g: no-repeat linear-gradient(currentColor 0 0);
  background: var(--_g),var(--_g),var(--_g);
  background-size: 50.1% 50.1%;
  animation: 
    l9-0   1.5s infinite steps(1) alternate,
    l9-0-0 3s   infinite steps(1) alternate;
}
.loader-flipping-9::before {
  content: "";
  background: currentColor;
  border-top-left-radius: 100px;
  transform: perspective(150px) rotateY(0deg) rotateX(0deg);
  transform-origin: bottom right; 
  animation: l9-1 1.5s infinite linear alternate;
}
@keyframes l9-0 {
  0%  {background-position: 0    100%,100% 100%,100% 0}
  33% {background-position: 100% 100%,100% 100%,100% 0}
  66% {background-position: 100% 0   ,100% 0   ,100% 0}
}
@keyframes l9-0-0 {
  0%  {transform: scaleX(1)  rotate(0deg)}
  50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l9-1 {
  16.5%{transform:perspective(150px) rotateX(-90deg)  rotateY(0deg)    rotateX(0deg);filter:grayscale(0.8)}
  33%  {transform:perspective(150px) rotateX(-180deg) rotateY(0deg)    rotateX(0deg)}
  66%  {transform:perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(0deg)}
  100% {transform:perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(-180deg);filter:grayscale(0.8)}
}
/* --- loader-flipping-10 --- */
/* HTML: <div class="loader-flipping-10"></div> */
.loader-flipping-10 {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  animation: l10-0 2s infinite steps(1);
}
.loader-flipping-10::before,
.loader-flipping-10::after {
  content: "";
  flex: 1;
  animation: 
    l10-1 1s infinite linear alternate,
    l10-2 2s infinite steps(1) -.5s;
}
.loader-flipping-10::after {
  --s:-1,-1;
}
@keyframes l10-0 {
  0%  {transform: scaleX(1)  rotate(0deg)}
  50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l10-1 {
  0%,
  5%   {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateY(0deg) }
  33%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(0deg) }
  66%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-180deg)}
  95%,
  100% {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateX(-180deg)}
}
@keyframes l10-2 {
  0%  {background:#514b82;border-radius: 0}
  50% {background:#25b09b;border-radius: 100px 0 0 100px}
}
/* --- loader-flipping-11 --- */
/* HTML: <div class="loader-flipping-11"></div> */
.loader-flipping-11 {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  animation: l11-0 2s infinite linear;
}
.loader-flipping-11::before,
.loader-flipping-11::after {
  content:"";
  flex:1;
  clip-path:polygon(100% 0,100% 100%,0 50%);
  animation: 
    l11-1 1s infinite linear alternate,
    l11-2 2s infinite linear -.5s;
}
.loader-flipping-11::after {
  --s:-1,-1;
}
@keyframes l11-0 {
  0%,49.99% {transform: scaleX(1)  rotate(0deg)}
  50%,100%  {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l11-1 {
  0%,
  5%   {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateY(0deg) }
  33%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(0deg) }
  66%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-180deg)}
  95%,
  100% {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateX(-180deg)}
}
@keyframes l11-2 {
  0%,49.99% {background:#EB9F9F}
  50%,100%  {background:#A79C8E}
}
/* --- loader-flipping-12 --- */
/* HTML: <div class="loader-flipping-12"></div> */
.loader-flipping-12 {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  animation: l12-0 4s infinite linear .5s;
}
.loader-flipping-12::before,
.loader-flipping-12::after {
  content: "";
  flex: 1;
  background: #A79C8E;
  clip-path: polygon(100% 0,100% 100%,0 50%);
  animation: l12-1 1s infinite linear;
}
.loader-flipping-12::after {
  transform:scale(-1);
  animation:none;
}
@keyframes l12-0 {
  0%   ,12.49% {transform: rotate(0deg)}
  12.5%,37.49% {transform: rotate(90deg)}
  37.5%,62.49% {transform: rotate(180deg)}
  62.5%,87.49% {transform: rotate(270deg)}
  87.5%,100%   {transform: rotate(360deg)}
}
@keyframes l12-1 {
  0%,
  5%   {transform: translate(0px)   perspective(150px) rotateY(0deg) }
  33%  {transform: translate(-10px) perspective(150px) rotateX(0deg) }
  66%  {transform: translate(-10px) perspective(150px) rotateX(-180deg)}
  95%,
  100%{transform: translate(0px)   perspective(150px) rotateX(-180deg)}
}
/* --- loader-flipping-13 --- */
/* HTML: <div class="loader-flipping-13"></div> */
.loader-flipping-13 {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  animation: l13-0 4s infinite linear .5s;
}
.loader-flipping-13::before,
.loader-flipping-13::after {
  content:"";
  flex:1;
  background: #FA6900;
  clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%,0 75%,0 25%);
  animation: l13-1 1s infinite linear;
}
.loader-flipping-13::after {
  transform: scale(-1);
  animation: none;
}
@keyframes l13-0 {
  0%   ,12.49% {transform: rotate(0deg)}
  12.5%,37.49% {transform: rotate(90deg)}
  37.5%,62.49% {transform: rotate(180deg)}
  62.5%,87.49% {transform: rotate(270deg)}
  87.5%,100%   {transform: rotate(360deg)}
}
@keyframes l13-1 {
  0%,
  5%   {transform:translate(0px)   perspective(150px) rotateY(0deg) }
  33%  {transform:translate(-10px) perspective(150px) rotateX(0deg) }
  66%  {transform:translate(-10px) perspective(150px) rotateX(-180deg)}
  95%,
  100%{transform: translate(0px)   perspective(150px) rotateX(-180deg)}
}
/* --- loader-flipping-14 --- */
/* HTML: <div class="loader-flipping-14"></div> */
.loader-flipping-14 {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
}
.loader-flipping-14::before,
.loader-flipping-14::after {
  content:"";
  flex:1;
  animation: l14 1.5s -.25s infinite linear alternate both;
}
.loader-flipping-14::after {
  --s:-1,-1;
  animation-delay: .5s;
}
@keyframes l14 {
  0%,
  30%  {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateY(0deg);
        clip-path:polygon(50% 0,100% 0,100% 100%,50% 100%,0 75%,0 25%);
        background:#FA6900;}
  37.5%{transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(0deg);
        clip-path:polygon(50% 0,100% 0,100% 100%,50% 100%,0 75%,0 25%);
        background:#FA6900;}
  50%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-90deg);
        clip-path:polygon(50% 0,100% 0,100% 100%,50% 100%,0 75%,0 25%);
        background:#FA6900;
        border-radius: 0}
  50.01%{transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-90.1deg);
         clip-path:polygon(0 0,100% 0,100% 100%,50% 100%,0 100%,0 25%);
         background:#2FB8AC;
         border-radius: 100px 0 0 100px}
  62.5%{transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-180deg);
        clip-path:polygon(0 0,100% 0,100% 100%,50% 100%,0 100%,0 25%);
        background:#2FB8AC;
        border-radius: 100px 0 0 100px}
  70%,
  100%{transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateX(-180deg);
        clip-path:polygon(0 0,100% 0,100% 100%,50% 100%,0 100%,0 25%);
        background:#2FB8AC;
        border-radius: 100px 0 0 100px;}
}
/* --- loader-flipping-15 --- */
/* HTML: <div class="loader-flipping-15"></div> */
.loader-flipping-15 {
  width: 80px;
  height: 40px;
  display: flex;
}
.loader-flipping-15::before,
.loader-flipping-15::after {
  content: "";
  flex: 1;
  clip-path: polygon(0 0,100% 0,100% 100%);
  background: #FC3A51;
  animation: 
    l15-1 1s infinite linear alternate,
    l15-2 2s infinite linear -.5s;
}
.loader-flipping-15::after {
  --s:-1,-1;
}
@keyframes l15-1 {
  0%,
  10%  {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateY(0deg) }
  33%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(0deg) }
  66%  {transform:scale(var(--s,1)) translate(-10px) perspective(150px) rotateX(-180deg)}
  90%,
  100% {transform:scale(var(--s,1)) translate(0px)   perspective(150px) rotateX(-180deg)}
}
@keyframes l15-2 {
  0%,49.99% {background:#FC3A51}
  50%,100%  {background:#EB9F9F}
}
/* --- loader-flipping-16 --- */
/* HTML: <div class="loader-flipping-16"></div> */
.loader-flipping-16 {
  width: 50px;
  aspect-ratio: 1;
  display: flex;
  color: orange;
  background:
    linear-gradient(currentColor 0 0) right  /51% 100%,
    linear-gradient(currentColor 0 0) bottom /100% 51%;
  background-repeat: no-repeat;
  animation: l16-0 2s infinite linear .25s;
}
.loader-flipping-16::before{
  content: "";
  width: 50%;
  height: 50%;
  background: currentColor;
  animation: l16-1 .5s infinite linear;
}
@keyframes l16-0 {
  0%   ,12.49% {transform: rotate(0deg)}
  12.5%,37.49% {transform: rotate(90deg)}
  37.5%,62.49% {transform: rotate(180deg)}
  62.5%,87.49% {transform: rotate(270deg)}
  87.5%,100%   {transform: rotate(360deg)}
}
@keyframes l16-1 {
  0%      {transform: perspective(80px) rotate3d(-1,-1,0,0)}
  80%,100%{transform: perspective(80px) rotate3d(-1,-1,0,-180deg)}
}
/* --- loader-flipping-17 --- */
/* HTML: <div class="loader-flipping-17"></div> */
.loader-flipping-17 {
  width: 50px;
  height: 50px;
  display: flex;
  color: #514b82;
  background:
    linear-gradient(currentColor 0 0) right  /51% 100%,
    linear-gradient(currentColor 0 0) bottom /100% 51%;
  background-repeat: no-repeat;
  animation: l17-0 2s infinite linear .25s;
}
.loader-flipping-17::before{
  content:"";
  width: 50%;
  height: 50%;
  background: currentColor;
  transform-origin: 10% 10%;
  animation: l17-1 .5s infinite linear;
}
@keyframes l17-0 {
  0%   ,12.49% {transform: rotate(0deg)}
  12.5%,37.49% {transform: rotate(90deg)}
  37.5%,62.49% {transform: rotate(180deg)}
  62.5%,87.49% {transform: rotate(270deg)}
  87.5%,100%   {transform: rotate(360deg)}
}
@keyframes l17-1 {
  0%      {transform: perspective(80px) rotate3d(-1,1,0, 0)}
  80%,100%{transform: perspective(80px) rotate3d(-1,1,0,-360deg)}
}
/* --- loader-flipping-18 --- */
/* HTML: <div class="loader-flipping-18"></div> */
.loader-flipping-18 {
  width: 60px;
  height: 60px;
  display: flex;
  color: #FC3A51;
  --c:#0000 calc(100% - 20px),currentColor calc(100% - 19px) 98%,#0000;
  background:
    radial-gradient(farthest-side at left,var(--c)) right /50% 100%,
    radial-gradient(farthest-side at top ,var(--c)) bottom/100% 50%;
  background-repeat: no-repeat;
  animation: l18-0 2s infinite linear .25s;
}
.loader-flipping-18::before{
  content:"";
  width:50%;
  height: 50%;
  background:radial-gradient(farthest-side at bottom right,var(--c));
  animation: l18-1 .5s infinite linear;
}
@keyframes l18-0 {
  0%   ,12.49% {transform: rotate(0deg)}
  12.5%,37.49% {transform: rotate(90deg)}
  37.5%,62.49% {transform: rotate(180deg)}
  62.5%,87.49% {transform: rotate(270deg)}
  87.5%,100%   {transform: rotate(360deg)}
}
@keyframes l18-1 {
  0%      {transform: perspective(150px) rotateY(0)      rotate(0)} 
  50%     {transform: perspective(150px) rotateY(180deg) rotate(0)} 
  80%,100%{transform: perspective(150px) rotateY(180deg) rotate(90deg)}
}
/* --- loader-flipping-19 --- */
/* HTML: <div class="loader-flipping-19"></div> */
.loader-flipping-19 {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
}
.loader-flipping-19:before,
.loader-flipping-19:after {
  content: "";
  grid-area: 1/1;
  color:#25b09b;
  animation: l19 1.5s infinite linear;
}
.loader-flipping-19:before {
  margin: 5px 20px;
  background:currentColor;
}
.loader-flipping-19:after {
  border: solid;
  border-width: 5px 20px;
  --s:0;
}
@keyframes l19 {
  0%      {transform: perspective(100px) rotate3d(1,var(--s,1),0,0)     } 
  25%     {transform: perspective(100px) rotate3d(1,var(--s,1),0,90deg) }
  25.01%  {transform: perspective(100px) rotate3d(1,var(--s,1),0,90deg) } 
  40%,60% {transform: perspective(100px) rotate3d(1,var(--s,1),0,180deg)} 
  75%     {transform: perspective(100px) rotate3d(1,var(--s,1),0,270deg)}
  75.01%  {transform: perspective(100px) rotate3d(1,var(--s,1),0,270deg)} 
  90%,100%{transform: perspective(100px) rotate3d(1,var(--s,1),0,360deg)}
}
/* --- loader-flipping-20 --- */
/* HTML: <div class="loader-flipping-20"></div> */
.loader-flipping-20 {
  width: 60px;
  height: 60px;
  display: grid;
}
.loader-flipping-20:before,
.loader-flipping-20:after {
  content: "";
  grid-area: 1/1; 
  background: #514b82;
  clip-path: polygon(0 0,100% 0,100% 100%,75% 25%,0 0,0 100%,100% 100%,25% 75%,0 0);
  animation: l20 1.5s infinite linear;
}
.loader-flipping-20:after {
  clip-path: polygon(0 0,76% 24%,100% 100%,24% 76%);
  --s:0;
}
@keyframes l20 {
  0%      {transform: perspective(100px) rotate3d(1,var(--s,1),0,0)      } 
  25%     {transform: perspective(100px) rotate3d(1,var(--s,1),0,-90deg) }
  25.01%  {transform: perspective(100px) rotate3d(1,var(--s,1),0,-90deg) } 
  40%,60% {transform: perspective(100px) rotate3d(1,var(--s,1),0,-180deg)} 
  75%     {transform: perspective(100px) rotate3d(1,var(--s,1),0,-270deg)}
  75.01%  {transform: perspective(100px) rotate3d(1,var(--s,1),0,-270deg)} 
  90%,100%{transform: perspective(100px) rotate3d(1,var(--s,1),0,-360deg)}
}
