/* --- loader-rolling-1 --- */
/* HTML: <div class="loader-rolling-1"></div> */
.loader-rolling-1 {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 1;
}
.loader-rolling-1:before,
.loader-rolling-1:after {
  content:"";
  grid-area: 1/1;
  border-radius: 50%;
}
.loader-rolling-1:before {
  margin: 25%;
  background: repeating-conic-gradient(#C02942 0 60deg,#0B486B 0 120deg);
  transform: rotate(0turn) translate(50%) rotate(0turn);
  animation: l1 3s linear infinite;
}
.loader-rolling-1:after {
  padding: 10%;
  margin: -10%;
  background: repeating-conic-gradient(from -15deg,#C02942 0 30deg,#0B486B 0 60deg);
  mask:conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
}
@keyframes l1 {to{transform: rotate(1turn) translate(50%) rotate(-2turn)}}
/* --- loader-rolling-2 --- */
/* HTML: <div class="loader-rolling-2"></div> */
.loader-rolling-2 {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 1;
}
.loader-rolling-2:before,
.loader-rolling-2:after {
  content:"";
  grid-area: 1/1;
  border-radius: 50%;
}
.loader-rolling-2:before {
  margin: 25%;
  background: repeating-conic-gradient(#C02942 0 60deg,#0B486B 0 120deg);
  transform: rotate(0turn) translate(50%) rotate(0turn);
  animation: l2 2s alternate infinite ease-in-out;
}
.loader-rolling-2:after {
  padding: 10%;
  margin: -10%;
  background: repeating-conic-gradient(from -15deg,#C02942 0 30deg,#0B486B 0 60deg);
  mask:conic-gradient(from 75deg,#000 210deg,#0000 0) content-box exclude,conic-gradient(from 75deg,#000 210deg,#0000 0);
}
@keyframes l2 {to{transform: rotate(.5turn) translate(50%) rotate(-1turn)}}
/* --- loader-rolling-3 --- */
/* HTML: <div class="loader-rolling-3"></div> */
.loader-rolling-3 {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 1;
}
.loader-rolling-3:before,
.loader-rolling-3:after {
  content:"";
  grid-area: 1/1;
  border-radius: 50%;
  animation: l3-0 2s alternate infinite ease-in-out;
}
.loader-rolling-3:before {
  margin: 25%;
  background: repeating-conic-gradient(#C02942 0 60deg,#0B486B 0 120deg);
  translate: 0 50%;
  rotate: -150deg;
}
.loader-rolling-3:after {
  padding: 10%;
  margin: -10%;
  background: repeating-conic-gradient(#0B486B 0 30deg,#C02942 0 60deg);
  mask:linear-gradient(#0000 50%,#000 0) content-box exclude,linear-gradient(#0000 50%,#000 0);
  rotate: -75deg;
  animation-name: l3-1;
}
@keyframes l3-0 {to{rotate: 150deg}}
@keyframes l3-1 {to{rotate:  75deg}}
/* --- loader-rolling-4 --- */
/* HTML: <div class="loader-rolling-4"></div> */
.loader-rolling-4 {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 2;
  overflow: hidden;
  border-image: 1 0/0 0 8px/0 0 8px 
    repeating-linear-gradient(90deg,#0B486B 0 26%,#C02942 0 52%);
}
.loader-rolling-4:before {
  content:"";
  margin: 0 25%;
  border-radius: 50%;
  background: repeating-conic-gradient(#C02942 0 60deg,#0B486B 0 120deg);
  transform: translate(-154%,0) rotate(0turn);
  animation: l4 3s linear infinite;
}
@keyframes l4 {to{transform: translate(160%,0) rotate(1turn)}}
/* --- loader-rolling-5 --- */
/* HTML: <div class="loader-rolling-5"></div> */
.loader-rolling-5 {
  display: inline-grid;
  width: 40px;
  aspect-ratio: 1;
}
.loader-rolling-5:before,
.loader-rolling-5:after {
  content:"";
  grid-area: 1/1;
  border-radius: 50%;
  background: repeating-conic-gradient(#C02942 0 60deg,#0B486B 0 120deg);
}
.loader-rolling-5:before {
  transform: rotate(0turn) translate(100%) rotate(0turn);
  animation: l5 4s linear infinite;
}
.loader-rolling-5:after {
  padding: 20%;
  mask:conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
  scale: -1 1;
}
@keyframes l5 {to{transform: rotate(1turn) translate(100%) rotate(1turn)}}
/* --- loader-rolling-6 --- */
/* HTML: <div class="loader-rolling-6"></div> */
.loader-rolling-6 {
  display: inline-grid;
  width: 40px;
  aspect-ratio: 1;
}
.loader-rolling-6:before,
.loader-rolling-6:after {
  content:"";
  grid-area: 1/1;
  border-radius: 50%;
  background: repeating-conic-gradient(#C02942 0 60deg,#0B486B 0 120deg);
  animation: l6 4s linear infinite;
}
.loader-rolling-6:before {
  translate: 0 -100%;
}
.loader-rolling-6:after {
  padding: 20%;
  mask:conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
  animation-direction: reverse;
}
@keyframes l6 {to{rotate: 1turn;}}
/* --- loader-rolling-7 --- */
/* HTML: <div class="loader-rolling-7"></div> */
.loader-rolling-7 {
  display: inline-grid;
  width: 40px;
  aspect-ratio: 1;
}
.loader-rolling-7:before,
.loader-rolling-7:after {
  content:"";
  grid-area: 1/1;
  border-radius: 50%;
  background: repeating-conic-gradient(#C02942 0 60deg,#0B486B 0 120deg);
  animation: l7 2s infinite alternate ease-in-out;
  rotate: 90deg;
}
.loader-rolling-7:before {
  translate: 0 -100%;
}
.loader-rolling-7:after {
  padding: 20%;
  mask:conic-gradient(from 120deg,#0000 120deg,#000 0) content-box exclude,conic-gradient(from 120deg,#0000 120deg,#000 0);
  animation-direction: alternate-reverse;
}
@keyframes l7 {to{rotate: -90deg;}}
/* --- loader-rolling-8 --- */
/* HTML: <div class="loader-rolling-8"></div> */
.loader-rolling-8 {
  display: inline-grid;
  width: 80px;
  aspect-ratio: 2;
  box-sizing: content-box;
  border-bottom: 8px solid #0000; 
  background: 
    linear-gradient(90deg,#0B486B 50%,#C02942 0) 
    50% 100%/52% 8px border-box repeat-x;
  animation: l8-0 1s linear infinite;
}
.loader-rolling-8:before {
  content:"";
  margin: 0 25%;
  border-radius: 50%;
  background: repeating-conic-gradient(#C02942 0 60deg,#0B486B 0 120deg);
  animation: l8-1 1s linear infinite;
}
@keyframes l8-0 {to{background-position: -58% 100%}}
@keyframes l8-1 {to{rotate: 120deg}}
/* --- loader-rolling-9 --- */
/* HTML: <div class="loader-rolling-9"></div> */
.loader-rolling-9 {
  display: inline-grid;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(from 30deg,#C02942 0 60deg,#0B486B 0 120deg);
  animation: l9-0 3s linear infinite;
}
.loader-rolling-9:before,
.loader-rolling-9:after {
  content:"";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  transform: rotate(0turn) translate(100%,0);
  animation: l9-1 3s linear infinite;
}
.loader-rolling-9:after {
  animation-delay: -1.5s;
}
@keyframes l9-0 {to{rotate: -1turn}}
@keyframes l9-1 {to{transform: rotate(1turn) translate(100%,0) rotate(1turn)}}
/* --- loader-rolling-10 --- */
/* HTML: <div class="loader-rolling-10"></div> */
.loader-rolling-10 {
  display: inline-grid;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(from 30deg,#C02942 0 60deg,#0B486B 0 120deg);
  animation: l10-0 2s linear infinite;
}
.loader-rolling-10:before,
.loader-rolling-10:after {
  content:"";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  transform: rotate(0turn) translate(100%,0);
  animation: l10-1 3s infinite ease-in-out;
}
.loader-rolling-10:after {
  animation-delay: -1.5s;
}
@keyframes l10-0 {to{rotate: -1turn}}
@keyframes l10-1 {to{transform: rotate(1turn) translate(100%,0) rotate(1turn)}}
