/* --- loader-zig-zag-1 --- */
/* HTML: <div class="loader-zig-zag-1"></div> */
.loader-zig-zag-1 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  animation: l1 .8s infinite linear;
}
@keyframes l1{
  to {background-position: 25% 0,37.5% 100%}
}
/* --- loader-zig-zag-2 --- */
/* HTML: <div class="loader-zig-zag-2"></div> */
.loader-zig-zag-2 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l2 1s infinite linear;
}
@keyframes l2{
  90%,to {clip-path: inset(0)}
}
/* --- loader-zig-zag-3 --- */
/* HTML: <div class="loader-zig-zag-3"></div> */
.loader-zig-zag-3 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 50%);
  animation: l3 1s infinite linear;
}
@keyframes l3{
  90%,to {clip-path: inset(0)}
}
/* --- loader-zig-zag-4 --- */
/* HTML: <div class="loader-zig-zag-4"></div> */
.loader-zig-zag-4 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: 
    l4-0 1s infinite linear,
    l4-1 2s infinite steps(1);
}
@keyframes l4-0{
  to {clip-path: inset(0)}
}
@keyframes l4-1{
  50% {scale: -1 1}
}
/* --- loader-zig-zag-5 --- */
/* HTML: <div class="loader-zig-zag-5"></div> */
.loader-zig-zag-5 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 60% 0 0);
  animation: l5 .8s infinite linear alternate;
}
@keyframes l5{
  to {clip-path: inset(0 0 0 60%)}
}
/* --- loader-zig-zag-6 --- */
/* HTML: <div class="loader-zig-zag-6"></div> */
.loader-zig-zag-6 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  -webkit-mask: repeating-linear-gradient(90deg,#000 0 15%,#0000 0 50%) 0 0/200%;
  animation: l6 .8s infinite linear;
}
@keyframes l6{
  to {-webkit-mask-position:-100% 0}
}
/* --- loader-zig-zag-7 --- */
/* HTML: <div class="loader-zig-zag-7"></div> */
.loader-zig-zag-7 {
  display: inline-grid;
}
.loader-zig-zag-7:before,
.loader-zig-zag-7:after {
  content: "";
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 60% 0 0);
  animation: l7 .8s infinite linear alternate;
}
.loader-zig-zag-7:after {
  animation-direction: alternate-reverse;
}
@keyframes l7{
  to {clip-path: inset(0 0 0 60%)}
}
/* --- loader-zig-zag-8 --- */
/* HTML: <div class="loader-zig-zag-8"></div> */
.loader-zig-zag-8 {
  display: inline-grid;
}
.loader-zig-zag-8:before,
.loader-zig-zag-8:after {
  content: "";
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  -webkit-mask: repeating-linear-gradient(90deg,#000 0 15%,#0000 0 50%) 0 0/200%;
  animation: l8 .8s infinite linear;
}
.loader-zig-zag-8:after {
  animation-delay: -.2s;
  animation-direction: reverse;
}
@keyframes l8{
  to {-webkit-mask-position:-100% 0}
}
/* --- loader-zig-zag-9 --- */
/* HTML: <div class="loader-zig-zag-9"></div> */
.loader-zig-zag-9 {
  display: inline-grid;
}
.loader-zig-zag-9:before,
.loader-zig-zag-9:after {
  content: "";
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l9 1s infinite linear;
}
.loader-zig-zag-9:after {
  scale: -1 1;
}
@keyframes l9{
  90%,to {clip-path: inset(0)}
}
/* --- loader-zig-zag-10 --- */
/* HTML: <div class="loader-zig-zag-10"></div> */
.loader-zig-zag-10 {
  display: inline-grid;
  animation: l10-0 2s infinite steps(1);
}
.loader-zig-zag-10:before,
.loader-zig-zag-10:after {
  content: "";
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l10-1 1s infinite linear alternate;
}
.loader-zig-zag-10:after {
  scale: -1 1;
}
@keyframes l10-0{
  50% {scale: -1 1}
}
@keyframes l10-1{
  to {clip-path: inset(0)}
}
/* --- loader-zig-zag-11 --- */
/* HTML: <div class="loader-zig-zag-11"></div> */
.loader-zig-zag-11 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l11 2.5s infinite steps(11,jump-none);
}
@keyframes l11{
  to {clip-path: inset(0)}
}
/* --- loader-zig-zag-12 --- */
/* HTML: <div class="loader-zig-zag-12"></div> */
.loader-zig-zag-12 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l12 2.5s infinite steps(11,jump-none) alternate;
}
@keyframes l12{
  to {clip-path: inset(0)}
}
/* --- loader-zig-zag-13 --- */
/* HTML: <div class="loader-zig-zag-13"></div> */
.loader-zig-zag-13 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: 
    l13-0 2.5s infinite steps(11,jump-none) alternate,
    l13-1 5s infinite steps(1);
}
@keyframes l13-0{
  to {clip-path: inset(0)}
}
@keyframes l13-1{
  50% {scale: -1 1}
}
/* --- loader-zig-zag-14 --- */
/* HTML: <div class="loader-zig-zag-14"></div> */
.loader-zig-zag-14 {
  display: inline-grid;
}
.loader-zig-zag-14:before,
.loader-zig-zag-14:after {
  content: "";
  grid-area: 1/1;
  height: 28px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  -webkit-mask: repeating-linear-gradient(90deg,#000 0 10%,#0000 0 20%);
  clip-path: inset(0 100% 0 0);
  animation: l14 1.5s infinite steps(6,jump-none);
}
.loader-zig-zag-14:after {
  scale: -1 1;
}
@keyframes l14{
  to {clip-path: inset(0)}
}
/* --- loader-zig-zag-15 --- */
/* HTML: <div class="loader-zig-zag-15"></div> */
.loader-zig-zag-15 {
  display: inline-grid;
}
.loader-zig-zag-15:before,
.loader-zig-zag-15:after {
  content: "";
  grid-area: 1/1;
  height: 28px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  -webkit-mask: repeating-linear-gradient(90deg,#000 0 10%,#0000 0 20%);
  clip-path: inset(0 100% 0 0);
  animation: l15 1.5s infinite steps(6,jump-none) alternate;
}
.loader-zig-zag-15:after {
  scale: -1 1;
}
@keyframes l15{
  to {clip-path: inset(0)}
}
/* --- loader-zig-zag-16 --- */
/* HTML: <div class="loader-zig-zag-16"></div> */
.loader-zig-zag-16 {
  display: inline-grid;
}
.loader-zig-zag-16:before,
.loader-zig-zag-16:after {
  content: "";
  grid-area: 1/1;
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  -webkit-mask: repeating-linear-gradient(90deg,#000 0 10%,#0000 0 20%);
  clip-path: inset(0 100% 0 0);
  animation: l16 1.5s infinite steps(6,jump-none);
}
.loader-zig-zag-16:after {
  -webkit-mask: repeating-linear-gradient(90deg,#0000 0 10%,#000 0 20%);
  animation-delay: -.75s;
}
@keyframes l16{
  50%,100% {clip-path: inset(0)}
}
/* --- loader-zig-zag-17 --- */
/* HTML: <div class="loader-zig-zag-17"></div> */
.loader-zig-zag-17 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 60% 0 0);
  animation: l17 1.2s infinite steps(7,jump-none) alternate;
}
@keyframes l17{
  to {clip-path: inset(0 0 0 60%)}
}
/* --- loader-zig-zag-18 --- */
/* HTML: <div class="loader-zig-zag-18"></div> */
.loader-zig-zag-18 {
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 50%);
  animation: l18 1s infinite steps(5) alternate;
}
@keyframes l18{
  90%,to {clip-path: inset(0)}
}
/* --- loader-zig-zag-19 --- */
/* HTML: <div class="loader-zig-zag-19"></div> */
.loader-zig-zag-19 {
  display: inline-grid;
}
.loader-zig-zag-19:before,
.loader-zig-zag-19:after {
  content: "";
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 60% 0 0);
  animation: l19 .8s infinite steps(7,jump-none) alternate;
}
.loader-zig-zag-19:after {
  animation-direction: alternate-reverse;
}
@keyframes l19{
  to {clip-path: inset(0 0 0 60%)}
}
/* --- loader-zig-zag-20 --- */
/* HTML: <div class="loader-zig-zag-20"></div> */
.loader-zig-zag-20 {
  display: inline-grid;
}
.loader-zig-zag-20:before,
.loader-zig-zag-20:after {
  content: "";
  height: 27px;
  aspect-ratio: 5;
  --c: #000 90deg,#0000 0;
  background:
   conic-gradient(from 135deg at top   ,var(--c)),
   conic-gradient(from -45deg at bottom,var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 50%);
  animation: l20 1s infinite steps(5) alternate;
}
.loader-zig-zag-20:after {
  animation-delay: -1s;
}
@keyframes l20{
  90%,to {clip-path: inset(0)}
}
